* {
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

.cabecalho {
 background-color: #ffce35;
 border-bottom: solid 10px #ec6e00;
 display: flex;
 justify-content: space-between;
 padding: 20px;
 align-items: center;
 height: 100px;
}

.logoMarca {
  width: 150px;
}

.menuList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 90%;
}

.menuList a {
  text-decoration: none;
  color: #ffffff;
  transition: 500ms;
}

.menuList a:hover {
  color: #333333;
}

.userList {
  display: flex;
  gap: 15px;
}

.iconUser {
  height: 20px;
}

.userBuy {
  font-size: 9px;
  color: #ffffff;
}

.navgator {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#searchFoods {
  box-sizing: border-box;
  border: solid 2px ;
  width: 180%;
  border-radius: 50px;
  text-align: left;
  font-size: 12px;
  padding: 10px 10px 10px 40px;
  background-image: url(./Img/search-outline.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px ;
  border: none;
}

#searchFoods::placeholder{
  font-size: 12px;
  text-align: center;
}

.userOp {
  list-style: none;
  display: flex;
  gap: 10px;
}

.welcomeToMF {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.news {
  padding: 20px;
}

.pedidos {
  display: flex;
  flex-wrap: wrap;
}

.pedidosTitle{
  margin-left: 20px;
  font-size: 12px;
  color: #ec6e00;
}

.conteiner {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px 0px 20px;
  overflow: hidden;
  width: 170px;
  border-radius: 10px;
  border: 1px solid rgb(227, 227, 227);
  transition: ease-in 500ms;
}
.conteiner:hover{
  box-shadow: #333333 0px 1px 4px 1px;
  transform: scale(1.01);
}

.descricaoPrato {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  font-size: 10px;
}

.conteudoPrato{
  display: flex;
}

.pedidoFoto {
  width: 150px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}

.pedidoLogo {
  position: absolute;
  margin: 3px;
  width: 30px;
  border-radius: 50px;
}

.valorPrato {
  color: green;
  font-weight: bold;
}

.clubdiv {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
justify-items: center;
padding: 50px;
line-height: 30px;
}

.cupom {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: block;
  position: relative;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #ffce35;
  border-radius: 10px;
}
.cupom::before,
.cupom::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
}
.cupom::before {
  left: -30px;
}
.cupom::after {
  right: -30px;
}
.cupomtitle {
  padding: 32px;
 }
.cupomsubtitle {
 padding: 32px;
}
footer {
  display: flex;
  flex-direction: column;
  height: 173px;
  text-align: center;
  background:url(./Img/Rodapé.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  justify-content: center;
  align-items: center;
}
.MFEndLogo {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer p {
  padding: 0px 30px;
}

@media screen and (max-width:840px) {
  #searchFoods {
    width: 60%;
    font-size: 10px;
}
 
}
